.main-page {
  min-height: 100vh;
  background-color: #0f1e52;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.apoie-btn {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem;
  padding: 3rem 10%;
  justify-items: center;
}

.no-results {
  text-align: center;
  width: 100%;
  color: #ccc;
  grid-column: 1 / -1;
  margin-top: 2rem;
}

.search-container {
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;
  justify-items: center;
  margin-top: 2rem;
}


.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

.buttons-container button {
  padding: 8px 12px;
  border: transparent;
  border-radius: 14px;
  background-color: #8f6f1a;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.buttons-container button:hover {
  cursor: pointer;
  background-color: #b38a23;
}

.buttons-container p {
  font-size: 1.2rem;
  border: 2px solid #b38a23;
  padding: 4px 12px;
  border-radius: 50%;
}